*{
	box-sizing: border-box;
}

html,body{
	max-width:1000px;
	min-height: 100vh;
	margin: 0 auto;
}


img{
	max-width: 100%;
}

.images{
	display: block;
	padding: 5px;
	margin: 10px;

}

.images cite {
	color: black;
	background-color: white;
}

div > div {
	width: 200px;
	height: 200px;


}

.active{
	background: purple;
}