@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

*{
	box-sizing: border-box;
}

html,body{
	max-width:1000px;
	min-height: 100vh;
	margin: 0 auto;
}


img{
	max-width: 100%;
}

.images{
	display: block;
	padding: 5px;
}

.images cite {
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	color: black;
	background-color: white;
}

div > div {
	width: 200px;
	height: 200px;


}

.buttons button{
font-family: 'Open-Sans', sans-serif;
font-weight: 600;
background-color: lightblue;
color: green;
font-size: 30px;
padding: 10px;
margin: 0 auto;
}

.active{
	background: purple;
}